.header__logo {
  height: 52px;
  width: 176px;
  align-self: center;
  justify-self: start;
  transition: opacity .3s ease-in-out;
  outline: 1px solid red;
}

.header__logo:hover {
  opacity: .5;
}

@media screen and (max-width: 375px) {
  .header__logo {
    height: 42px;
    width: 142px;
  }
}