.place__paragraph {
  grid-area: place__paragraph;
  margin: 0 0 26px;
  padding: 0;
  line-height: 163%;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
}

.place__paragraph:last-of-type {
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .place__paragraph {
    margin-bottom: 27px;
  }
}

@media screen and (max-width: 790px) {
  .place__paragraph {
    margin-bottom: 25px;
    font-size: 16px;
  }
}