.cover {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-areas: "cover__content";
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
}

.cover::after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:#2A2C2F;
  opacity: .3;
  z-index: -1;
  transition: opacity .5s ease-in-out;
}

.cover:hover::after {
  opacity: .8;
}