@font-face {
  font-family: Inter;
  src: url(./Inter-Web/Inter-Bold.woff);
}

.page {
  margin: 0;
  padding: 0;
  background-color: #2a2c2f;
  color: white;
  font-family: Inter;
}

/*----- start header -----*/
/* block */
.header {
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* block_mod */
.header_indents {
  padding: 28px 48px 0;
  margin-bottom: 56px;
}

/* block_mod */
.header_sizes_width {
  max-width: 1184px;
}

/* element */
.header__logo {
  height: 52px;
  width: 176px;
  background-image: url(./logo.png);
  background-position: center;
  background-size: cover;
  align-self: center;
  justify-self: start;
}

/* element */
.header__lang-links {
  display: flex;
  flex-direction: row;
  justify-self: end;
  align-self: center;
}

/* element */
.header__lang-link {
  margin-right: 18px;
  line-height: 28px;
  font-size: 24px;
  font-weight: 400;
  text-decoration: none;
  color: white;
}

/* element pseudo-class */
.header__lang-link:last-of-type {
  margin-right: 0;
}

/* element pseudo-class */
.header__lang-link:hover {
  text-decoration: underline;
}
/*----- end header -----*/

/*----- start lead -----*/
/* block */
.lead {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* block_mod */
.lead_indents {
  margin: 0 auto 92px;
}

/* block_mod */
.lead_sizes_width {
  max-width: 984px;
}

/* element */
.lead__title {
  margin: 0 auto 32px;
  padding: 0;
  max-width: 720px;
  line-height: 100px;
  font-size: 96px;
  font-weight: 900;
  text-align: center;
}

/* element */
.lead__subtitle {
  margin: 0 auto 64px;
  padding: 0;
  max-width: 640px;
  line-height: 36px;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}

.group-four {
  position: relative;
}

/* element */
.lead__image {
  margin: 0 0 8px;
  align-self: center;
  max-width: 100%;
}

.group__four {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: auto;
}

/* element */
.lead__caption {
  margin: 0;
  line-height: 10px;
  font-size: 14px;
  font-weight: 400;
}
/*----- end lead -----*/

/*----- start intro -----*/
/* block */
.intro {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

/* block_mod */
.intro_indents {
  margin: 0 auto 92px;
}

/* block_mod */
.intro_sizes_width {
  max-width: 984px;
}

/* element */
.intro__title {
  padding: 0;
  margin: 0 0 40px;
  max-width: 690px;
  line-height: 58px;
  font-size: 54px;
  font-weight: 900;
}

/* element */
.intro__text {
  padding: 0;
  margin: 0 0 33px;
  max-width: 690px;
  line-height: 26,08px;
  font-size: 16px;
  font-weight: 400;
}

/* element */
.intro__list {
  padding: 0;
  margin: 0;
  max-width: 690px;
  list-style: none;
  line-height: 18px;
  font-size: 12px;
  font-weight: 400;
}
/*----- end intro -----*/

/*----- start photo-grid -----*/
/* block */
.gallery {
  padding: 0;
  margin: 0;
}

/* block_mod */
.gallery_indents {
  padding: 0 48px;
  margin: 0 auto 92px;
}

/* block */
.photo-grid {
  padding: 0;
  margin: 0 auto;
  list-style: none;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-gap: 16px;
}

/* block_mod */
.photo-grid_sizes_width {
  max-width: 1184px;
}

/* element */
.photo-grid__list-element {
  margin: 0 auto;
}

/* element */
.photo-grid__item {
  align-self: stretch;
  justify-content: stretch;
  object-fit: cover;
  max-width: 100%;
}
/*----- end photo-grid -----*/

/*----- start places -----*/
/* block */
.articles {
  margin: 0;
  padding: 0;
}

/* block_mod */
.articles_indents {
  margin: 0 auto 92px;
}

/* block */
.places {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* block */
.place {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-areas:
    "place__title place__website"
    "place__image place__paragraph";
  grid-template-columns: repeat(auto-fit, minmax(2fr, 1fr));
  justify-content: center;
  align-items: flex-start;
}

/* block_mod */
.place_indents {
  margin: 0 auto 80px;
  grid-gap: 48px 40px;
}

/* block_mod */
.place_sizes_width {
  max-width: 984px;
}

/* element */
.place__title {
  grid-area: place__title;
  margin: 0;
  padding: 0;
  line-height: 76px;
  font-size: 72px;
  font-weight: 900;
  max-width: 460px;
}

/* element */
.place__website {
  grid-area: place__website;
  margin: 0;
  padding: 0;
  justify-self: start;
  align-self: flex-end;
}

/* element */
.place__url-heading {
  margin: 0 0 12px;
  padding: 0;
  line-height: 12px;
  font-size: 12px;
  font-weight: 400;
  color: rgb(170, 170, 170);
}

/* element */
.place__link {
  color: white;
  margin: 0;
  padding: 0;
  line-height: 22px;
  font-size: 18px;
  font-weight: 400;
}

/* element */
.place__image {
  grid-area: place__image;
  margin: 0;
  padding: 0;
  object-fit: cover;
  min-width: 100%;
}

/* element */
.place__box-paragraph {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

/* element */
.place__paragraph {
  grid-area: place__paragraph;
  margin: 0 0 26px;
  padding: 0;
  line-height: 29.34px;
  font-size: 18px;
  font-weight: 400;
}

/* element pseudo-class */
.place__paragraph:last-of-type {
  margin: 0;
}
/*----- end places -----*/

/*----- start cover -----*/
/* block */
.cover {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url(./__background.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  outline: 1px solid red;
  z-index: 0;
}

/* block_mod */
.cover_indents {
  margin: 0 auto 92px;
  padding: 0;
}

/* block_mod */
.cover_sizes_width {
  max-width: 1184px;
}

/* element */
.cover__title {
  padding: 0;
  margin: 0 0 32px;
  max-width: 560px;
  line-height: 76px;
  font-size: 72px;
  font-weight: 900;
  text-align: center;
  outline: 1px solid red;
  z-index: 2;
}

/* element */
.cover__subtitle {
  padding: 0;
  margin: 0;
  max-width: 360px;
  line-height: 22px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  outline: 1px solid red;
  z-index: 2;
}

/* element */
  .cover__overlay {
  position: absolute;
  background-color: rgba(42, 44, 47, 1);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: .3;
  outline: 1px solid red;
}

.cover__overlay:hover {
  opacity: .8;
}

/* element */
/* .cover__background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  background-image: url(./__background.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
} */
/*----- end cover -----*/

/*----- start footer -----*/
/* block */
.footer {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* block_mod */
.footer_indents {
  margin: 0 auto;
  padding: 0;
}

/* block_mod */
.footer_sizes_width {
  max-width: 1184px;
}

.footer__menu {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer__link {
  padding: 0;
  margin-right: 18px;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: white;
}

.footer__link:last-of-type {
  margin-right: 0;
}

.footer__copyright {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}
/*----- end footer -----*/

@media screen and (max-width: 520px) {
  .footer {
    justify-content: start;
    align-items: flex-start;
  }

  .footer_indents {
    margin: 0 16px 24px;
  }

  .footer__menu {
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;

  }

  .footer__link {
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    margin: 0 0 32px;
  }
}
