.footer {
  margin: 0 auto;
  padding: 0 48px 24px;
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 0 24px 24px;
  }
}

@media screen and (max-width: 670px) {
  .footer {
    flex-direction: column;
  }
}

@media screen and (max-width: 520px) {
  .footer {
    justify-content: start;
    align-items: center;
    padding: 0 16px 24px;
  }
}

@media screen and (max-width: 375px) {
  .footer {
    align-items: flex-start;
  }
}