.intro_padding-margin {
  margin: 0 auto 92px;
  padding: 0 48px;
}

@media screen and (max-width: 768px) {
  .intro_padding-margin {
    margin-bottom: 88px;
    padding: 0 24px;
  }
}

@media screen and (max-width: 425px) {
  .intro_padding-margin {
    margin-bottom: 64px;
    padding: 0 16px;
  }
}